<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo</title>
    <link href="CSS/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #457b9d;">
        <div class="container-fluid">
          <a class="navbar-brand" href="Index.html">Softcol</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="Index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="equipo.html">Equipo</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Equipo Desarrollador</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lizeth Melendez</td>
            <td>Lider</td>
          </tr>
          <tr>
            <td>Daniel Francisco Martínez</td>
            <td>Desarrollador</td>
          </tr>
          <tr>
            <td >Carlos Javier Cardona</td>
            <td>Desarrollador</td>
          </tr>
          <tr>
            <td>Mauricio Martínez</td>
            <td>Desarrollador</td>
          </tr>
          <tr>
            <td>Carlos Armando Devia</td>
            <td>Desarrollador</td>
          </tr>
        </tbody>
      </table>
      <script src="JavaScript/bootstrap.bundle.min.js"></script>       
</body>
</html>